@use "./themes.scss"; //we use the 'use' rule to add in a module.
@import "./typography.scss"; //we use the 'import' rule to add in a partial.



.container {
    border: 2px solid $oxford-blue;
    border-radius: 10px;
    padding: 10px;
}

.section {

    &__box {
        display: flex;
        flex-direction:column;
        background-color: themes.$primary-bg-color; //when using a 'use' rule for a module, you must specify the name of the file it came from.

        &--green-dotted {
            border: 5px dotted themes.$green;
        }

        &--orange {
            border: 2px solid themes.$orange;
        }
    }
}

.box {
    &__header {
        padding: 20px;

        &--bold {
            font-weight: $bold;
        }

        &--border-gold {
            border: 2px solid $orange-web;
        }
        &--center {
            text-align: $center;
        }
    }

    &__para {
        font-family: 'Times New Roman', Times, serif;
    }
}