/* SCSS HEX */
.container {
  border: 2px solid #14213d;
  border-radius: 10px;
  padding: 10px;
}

.section__box {
  display: flex;
  flex-direction: column;
  background-color: blue;
}
.section__box--green-dotted {
  border: 5px dotted rgb(12, 68, 12);
}
.section__box--orange {
  border: 2px solid rgba(255, 166, 0, 0.689);
}

.box__header {
  padding: 20px;
}
.box__header--bold {
  font-weight: 900px;
}
.box__header--border-gold {
  border: 2px solid #fca311;
}
.box__header--center {
  text-align: center;
}
.box__para {
  font-family: "Times New Roman", Times, serif;
}
