
@use "./mixins1.scss";
@import "mixin_theme.scss"; 
@import "mixin_type.scss";


.navbar {
    @include mixins1.default-flex;
}

.gallery {
    @include mixins1.default-flex;
} 

.card {
    @include mixins1.default-flex;
}

.card {
    &__btn {
        background-color: aquamarine;

        @include mixins1.size-mod(10px, 20px, 60px);
    }
}

.section-challenge {
    width: 700px;
}

.challenge {
    
    &__card {
        // border: 2px dotted $red;
        margin: 50px;

        &--red-dotted {
            border: 2px dotted $red;
        }
        &--blue-solid {
            border: 4px solid $blue;
        }
        &--blue-dashed {
            border: 4px dashed $blue;
        }
    }

}

.card {

    &__para {
        
        @include mixins1.gold; 

    //     &--1 {
    //     font-family: $arial;
    //     font-weight: $bold;
    //     text-align: $center;
    // }
    //     &--2 {
    //     font-family: $arial;
    //     font-weight: $bold;
    //     text-align: $center;
    // }
    // &--3 {
    //     font-family: $arial;
    //     font-weight: $bold;
    //     text-align: $center;
    // }
}
}