.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__btn {
  background-color: aquamarine;
}
.card__btn--small {
  font-size: 10px;
}
.card__btn--medium {
  font-size: 20px;
}
.card__btn--large {
  font-size: 60px;
}

.section-challenge {
  width: 700px;
}

.challenge__card {
  margin: 50px;
}
.challenge__card--red-dotted {
  border: 2px dotted rgb(157, 34, 34);
}
.challenge__card--blue-solid {
  border: 4px solid rgb(0, 136, 255);
}
.challenge__card--blue-dashed {
  border: 4px dashed rgb(0, 136, 255);
}

.card__para--1 {
  color: gold;
}
.card__para--2 {
  color: rgb(104, 95, 44);
}
.card__para--3 {
  color: rgb(244, 230, 152);
}
